<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.terjarung" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ac.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ac.PlansActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="My Plans" />
        <activity
            android:name=".ac.AddPlanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Add new plan" />
        <activity
            android:name=".ac.PhonesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_phones" >
        </activity>
        <activity
            android:name=".ac.CommisionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Set Earnings" >
        </activity>
        <activity
            android:name=".ac.BuyActivity"
            android:label="@string/title_activity_buy" >
        </activity>
        <activity
            android:name=".ac.SellersActivity"
            android:label="@string/title_activity_sellers" >
        </activity>
    </application>

</manifest>
